body {
    background-color: white;
}

.title {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 25px;
}

.main-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cities {
    display: flex;
    flex-direction: column;
    text-align: center;
}